<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
	    <add key="Test.Inc.1" value="5000"/>
	    <add key="Test.Inc.2" value="20000"/>
	    <add key="Test.Inc.3" value="0"/>
	    <add key="Test.Rate.1" value="0"/>
	    <add key="Test.Rate.2" value="0.2"/>
	    <add key="Test.Rate.3" value="0.4"/>
	    <add key="Test.Gross.Salary.1" value="10000"/>
	    <add key="Test.Net.Salary.1" value="9000"/>
	    <add key="Test.Gross.Tax.1" value="1000"/>
		<add key="Test.Gross.Salary.2" value="40000"/>
		<add key="Test.Net.Salary.2" value="29000"/>
		<add key="Test.Gross.Tax.2" value="11000"/>
	</appSettings>
</configuration>