<div class="jumbotron">
    <h1>TaxMan API</h1>
    <p class="lead">TaxManAPI is a free web API for retrieving salary and income information after income tax has been applied. See below for more.</p>
    <p><a href="./Help" class="btn btn-primary btn-lg">View APIs &raquo;</a></p>
    <p><a href="./Home/New" class="btn btn-primary btn-lg">New tax configuration &raquo;</a></p>
</div>
